<mz-navbar>
    <a href="#" class="brand-logo">Logo</a>
    <mz-navbar-item-container [align]="'right'">
      <mz-navbar-item><a routerLink="/respuestas">Respuestas</a></mz-navbar-item>
    </mz-navbar-item-container>
  </mz-navbar>
<div class="container">
  <p>Por favor ingrese un email y seleccione una opción</p>
  <br>
<form [formGroup]="form" (ngSubmit)="submit()">

   <div class="input-field col s12">
          <input id="email" type="email" class="validate" formControlName="email" uniqueEmail>
         <label for="email" data-error="Invalid Email" data-success="Correct Email">Email</label>
          
    </div>
   <h4>Su bebida Coca Cola favorita es : </h4>
   <br>
   <p>
      <label>
        <input type="radio" value="1"  formControlName="option"/>
        <span>Light</span>
      </label>
    </p>
    <p>
      <label>
        <input  type="radio"  value ="2"  formControlName="option" />
        <span>Sin Azúcar</span>
      </label>
    </p>
    <p>
      <label>
        <input type="radio"  value="3"  formControlName="option"/>
        <span>Normal</span>
      </label>
    </p>
    <p>
      <label>
        <input  type="radio" value="0"  formControlName="option" />
        <span>No tomo</span>
      </label>
    </p>

    <button class="btn btn-primary" [disabled]="!form.valid" type="submit">Enviar</button>
</form>
</div>