<mz-modal id="bottomSheetModal" #bottomSheetModal [fixedFooter]="true" [bottomSheet]="true" [options]="modalOptions">
  <mz-modal-header>
    <h4>Error</h4>
  </mz-modal-header>
  <mz-modal-content>
    No se ha podido registrar su votación
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>Aceptar</button>
  </mz-modal-footer>
</mz-modal>