<mz-navbar>
  <a href="#" class="brand-logo">Logo</a>
  <mz-navbar-item-container [align]="'right'">
    <mz-navbar-item><a routerLink="/">Inicio</a></mz-navbar-item>
  </mz-navbar-item-container>
</mz-navbar>
<div class="container">
  <mz-tab
  [fixedTabWidth]="'true'"
  [onShow]=""
  [responsiveThreshold]="'true'"
  [swipeable]="'true'"
>
  <mz-tab-item
    [active]="'true'"
    [label]="'Respuestas'"
  >
  <mz-collection>
    <mz-collection-item [avatar]="true"  *ngFor="let answer of answers">
      <img mz-avatar src="assets/user.jpg">
      <div class="title">{{answer.email}}</div>
      <div>
            {{answer.option | transform_option }}</div>
      <div>{{answer.id}}</div>
      <a mz-secondary-content href="#!"><i mz-icon-mdi [icon]="'star'"></i></a>
    </mz-collection-item>
</mz-collection>
  </mz-tab-item>
  <mz-tab-item [label]="'Gráfico'">

    <div style="width: 500px; height: 500px;">
      <h1>Grafico</h1>
      <canvas id="pieChart"></canvas>
     </div>
  </mz-tab-item>
</mz-tab>
  
</div>